.overview {
  margin-top: 5rem;
}

.overview-list {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(418px, 1fr));
  grid-template-rows: auto;
  gap: 2rem;
  min-width: 365px;
}

.overview-list:nth-child(odd) {
  background-color: rgb(141 209 231 / 9%);
}

.overview-list > li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.3rem;
  font-size: 1.2rem;
  width: 86%;
}

.categories {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.categories input {
  padding: 10px;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  background-color: var(--primary-font-color);
  color: #fff;
}

.categories input:disabled {
  background-color: transparent;
  color: var(--primary-font-color);
  opacity: 0.4;
}
