.overview {
  margin-top: 5rem;
}

.overview-list {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(418px, 1fr));
  grid-template-rows: auto;
  gap: 2rem;
  padding: 2rem !important;
}

.overview-list:nth-child(even) {
  background-color: rgb(4 175 230 / 4%);
}

.overview-list > li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
