.nav {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  background-color: rgb(250, 250, 250);
  display: flex;
  align-items: center;
  padding: 0 2vw;
  height: 8rem;
}

.logo {
  font-family: "Bebas Neue", cursive;
  color: rgb(95, 93, 93);
  letter-spacing: 0.2rem;
}

.nav_bar_pages {
  flex: 2;
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  color: var(--border-color);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: 0.5s all ease;
}

.title:hover {
  color: var(--hover-highlight-color) !important;
}

.active {
  color: var(--hover-highlight-color) !important;
}

/*mobile screens*/
@media screen and (max-width: 720px) {
  .nav {
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 11rem;
    margin-bottom: 2rem;
  }
}
