.card {
  border-radius: 10px;
  width: 98%;
  height: 26rem;
  display: flex;
  justify-content: flex-start;
  align-items: left;
  flex-direction: column;
  padding: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: scroll;
  color: var(--primary-font-color);
}
