.list {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
}

.listItem {
  margin: 3rem 20px;
  display: flex;
  flex-direction: column;
  width: 20rem;
}
