.list {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  box-shadow: var(--box-shadows);
  gap: 1rem;
  padding: 1rem;
}

.listItem {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 10px;
}

/*mobile screens*/
@media screen and (max-width: 1024px) {
  .list {
    margin-top: 3rem;
  }
}
