.news {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
  justify-content: space-evenly;
  max-width: var(--desktop);
  width: 100%;
  background: rgba(4, 175, 230, 0.07);
}

.news-outer-container {
  max-width: var(--desktop);
  width: 100%;
}

.news-list {
  display: flex;
  flex-direction: column;
  padding: var(--row-padding);
  margin-block-end: 0;
  margin-block-start: 0;
}

.news-list li {
  width: 100%;
}

.news > h1 {
  width: 100%;
  text-align: center;
}

.news-card {
  border-bottom: 1px solid var(--border-color);
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
}

.radios {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.radios > div {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio {
  appearance: none;
  border: 9px solid rgb(206, 206, 206);
  border-radius: 20px;
  margin: 0 10px;
}

.radio:checked {
  border: 9px solid var(--nav-bg-dark);
  border-radius: 20px;
}

.news-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200vw;
  font-size: 1.2rem;
  margin-top: 10px;
}

.news-container p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.hide-btns {
  display: none;
}

.news-content-summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.news-content-summary p:nth-child(1) {
  font-size: 1rem;
}

.news-content-summary p:nth-child(4) {
  max-width: 100vw;
  padding-right: 2rem;
}

.news-content-title {
  font-size: 1.1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 91vw;
}

.news-content-summary hr {
  width: 20rem;
  margin-left: 0;
}

.news-sidebar {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.news-sidebar h2 {
  font-weight: 400;
  font-size: 1.3rem;
}

.news-sidebar-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.news-sidebar-container {
  height: 250px;
  position: relative;
}

.arrows {
  text-align: center;
  font-size: 1.9rem;
  color: var(--nav-bg-color);
  animation-name: animateArrows;
  animation-fill-mode: both;
  animation-duration: 1.5s;
  transition: color 0.7s ease;
}

.arrows:hover {
  color: var(--coral-highlight-color);
}

@keyframes animateArrows {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.arrows:nth-child(1) {
  position: absolute;
  top: -15px;
  left: 50%;
  translate: -50% 0;
  z-index: 9999;
}

.arrows:nth-child(2) {
  position: absolute;
  bottom: -25px;
  left: 50%;
  translate: -50% 0;
  z-index: 9999;
}

.news-sidebar-list {
  height: 200px;
  overflow: hidden;
  margin: 1.5rem 0;
}

.news-sidebar-list ul {
  width: 280px;
}

.news-sidebar-list ul li {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  line-height: 1rem !important;
  margin: 15px 0;
}

.news-sentiment {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
}

.news-sentiment img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 10px;
}

.news-icons {
  font-size: 2.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 64px;
}

.news-bullish {
  color: green;
}

.news-bearish {
  color: red;
}

.news-neutral {
  color: rgba(69, 92, 119, 0.3);
}

.news-neutral-translate {
  translate: 0 15px;
}

.news-content-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 0.8rem;
}

.counter {
  translate: -10px -19px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .news-container {
    font-size: 1.4rem;
  }

  .news-content-title {
    font-size: 1.1rem;
    white-space: break-spaces !important;
    text-overflow: initial;
    overflow: initial !important;
    width: 40vw;
  }
}

@media (min-width: 1200px) {
  .news-card {
    flex-direction: row;
    gap: 3rem;
  }

  .news-container {
    font-size: 1.1rem;
    width: 75vw;
  }

  .news-sentiment {
    max-width: 400px;
    width: 100%;
  }

  .radios {
    display: none;
  }

  .news-content-summary {
    max-width: 900px;
    font-size: 1.1rem;
  }
}
