.news {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
  justify-content: space-evenly;
  padding: var(--row-padding);
}

.news-list {
  display: flex;
  flex-direction: column;
  padding: var(--row-padding);
}

.news > h1 {
  width: 100%;
  text-align: center;
}

.news-card {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 95vw;
  padding: 2rem 0;
  overflow: hidden;
}

.news-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.news-headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7rem;
}

.news-content-summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.news-content-summary hr {
  width: 20rem;
  margin-left: 0;
}

.news-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.news-sidebar-list {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 288px;
}

.news-sidebar-items {
  overflow: hidden;
  width: 15rem;
  padding: 1rem 0;
  margin: 2rem 0;
}

.news-sidebar-list ul {
  flex-direction: column;
  height: 159px;
}

.news-sidebar-list ul li {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  line-height: 1rem !important;
}

.news-sentiment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.news-sentiment img {
  width: 20rem;
  object-fit: scale-down;
}

.news-icons {
  font-size: 2.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.news-bullish {
  color: green;
}

.news-bearish {
  color: red;
}

.news-neutral {
  color: rgba(69, 92, 119, 0.3);
}

.news-neutral-translate {
  translate: 0 15px;
}

.news-content-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.arrows {
  text-align: center;
  font-size: 1.9rem;
  color: var(--nav-bg-color);
}

/* up */
.arrows:nth-child(1) {
  position: absolute;
  top: 0px;
  left: 50%;
  translate: -50% 0;
}

/* down */
.arrows:nth-child(2) {
  position: absolute;
  bottom: 0px;
  left: 50%;
  translate: -50% 0;
}

.counter {
  translate: -10px -19px;
  font-weight: 600;
}
