.news {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
  justify-content: space-evenly;
}

.news > div {
  width: 98vw;
}

.news-list {
  display: flex;
  flex-direction: column;
  padding: var(--row-padding);
}

.news > h1 {
  width: 100%;
  text-align: center;
}

.news-card {
  border-bottom: 1px solid var(--border-color);
  width: 81vw;
  padding: 2rem 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.news-container {
  display: flex;
  width: 52vw;
  flex-direction: column;
}

.news-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 7rem;
}

.news-content-summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.news-content-summary hr {
  width: 20rem;
  margin-left: 0;
}

.news-sidebar {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 298px;
  align-items: flex-end;
  gap: 1rem;
}

.news-sidebar-items {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.news-sidebar-container {
  height: 250px;
  position: relative;
}

.arrows {
  text-align: center;
  font-size: 1.9rem;
  color: var(--nav-bg-color);
  animation-name: animateArrows;
  animation-fill-mode: both;
  animation-duration: 1.5s;
  transition: color 0.7s ease;
}

.arrows:hover {
  color: var(--coral-highlight-color);
}

@keyframes animateArrows {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.arrows:nth-child(1) {
  position: absolute;
  top: -15px;
  left: 50%;
  translate: -50% 0;
  z-index: 9999;
}

.arrows:nth-child(2) {
  position: absolute;
  bottom: -25px;
  left: 50%;
  translate: -50% 0;
  z-index: 9999;
}

.news-sidebar-list {
  height: 200px;
  overflow: hidden;
  margin: 1.5rem 0;
}

.news-sidebar-list ul {
  width: 237px;
  padding: 1rem 0;
}

.news-sidebar-list ul li {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  line-height: 1rem !important;
}

.news-sentiment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  overflow: hidden;
  width: 28rem;
}

.news-sentiment img {
  width: 100%;
  object-fit: scale-down;
}

.news-icons {
  font-size: 2.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.news-bullish {
  color: green;
}

.news-bearish {
  color: red;
}

.news-neutral {
  color: rgba(69, 92, 119, 0.3);
}

.news-neutral-translate {
  translate: 0 15px;
}

.news-content-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.counter {
  translate: -10px -19px;
  font-weight: 600;
}
