.search_buttons {
  padding: 10px 12px;
  z-index: 99;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}

.search_buttons > input:first-child {
  border: none;
  border-bottom: 1px solid rgba(110, 110, 110, 0.5);
  font-size: 1.2rem;
  color: rgb(110, 110, 110);
  opacity: 0.8;
}

.search_buttons > input {
  border: none;
}

.search_buttons > svg {
  height: 1.5rem;
  transform: translate(0, 1.5rem);
  opacity: 0.6;
}
