.list {
  margin-top: 3rem;
  font-size: 1.5rem;
}

.list-col {
  flex-direction: column;
  position: relative;
  top: 4rem;
}

.list-col::-webkit-scrollbar-thumb {
  background: green;
}

.list-col::-webkit-scrollbar-track {
  background-color: red;
}

.list-header-width > li {
  width: 10rem !important;
}

.list-item-col {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 0 2vw;
  font-size: calc(16px + 0.2vw);
}

.list-item-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--row-padding);
  font-size: calc(16px + 0.2vw);
  width: 100%;
  gap: 1rem;
  text-align: center;
  width: 100%;
}

.row-styling {
  line-height: 5rem;
}

.row-top-padding {
  padding: 1.2rem 0 !important;
}

.row-styling:nth-child(even) {
  background-color: var(--alt-bg-color);
}

.row-styling:nth-child(odd) {
  background-color: var(--background-color);
}

@media (min-width: 768px) {
  /* adsfj */
}

@media screen and (min-width: 1200px) {
  .list {
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--table-lt-background-color);
  }
}
