@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active,
a:focus,
input:active,
input:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

:root {
  --border-color: rgb(158, 158, 158);
  --button-font-color: rgb(119, 119, 119);
}

ul {
  list-style-type: none;
  margin: 1rem;
}

ul li {
  line-height: 2rem;
}

/*For the stock details overview page*/
.list:nth-child(1) {
  justify-content: flex-start !important;
}

.show_view {
  animation-duration: 0.5s;
  animation-name: slideAnimation;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.hide_view {
  animation-duration: 0.5s;
  animation-name: slideout;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes slideAnimation {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideout {
  from {
    opacity: 1;
    transform: translateX(0%);
  }

  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.dots {
  color: var(--button-font-color);
  height: 1.7rem;
  width: 1.7rem;
}
