@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 1rem;
}

ul li {
  line-height: 2rem;
}

:root {
  --border-color: rgb(158, 158, 158);
  --button-font-color: rgb(119, 119, 119);
}

/* Utility classes */
.hide_bar {
  transform: translateX(1000%);
  transition: all 3s ease;
}

.show_bar {
  background-color: red;
}
