@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

:root {
  /* background color */
  --background-color: rgb(252, 252, 253);
  --alt-bg-color: rgb(250, 250, 250, 252);
  --nav-bg-color: rgb(4, 175, 230);
  --nav-bg-dark: rgb(4, 180, 236);
  --nav-bg-backer: rgba(246, 247, 255, 0.1);
  --header-bg-color: rgb(176 194 199);

  /* box shadow */
  --box-shadows: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  /* border color */
  --border-color: rgb(158, 158, 158);

  /* font color */
  --button-font-color: rgb(97, 97, 97);
  --green-font-color: rgb(37, 189, 37);
  --primary-font-color: rgb(69, 92, 119);
  --table-secondary-font-color: rgb(193, 193, 193);
  --hover-background-color: rgb(168, 192, 255);

  /* highlighting colors */
  --green-highlight-color: rgb(126, 221, 131);
  --coral-highlight-color: rgb(255, 127, 80);
  --vol-filter: #ffd35b;

  /* structural formatting */
  --row-widths: 70vw;
  --row-padding: 0 2vw;
  --padding: 10px;

  /* widths */
  --mobile: 768px;
  --desktop: 1920px;

  /* heights */
  --nav-height: 11vh;
  --search: 1.6rem;

  /* select styles */
  --select-border: #777;
  --select-arrow: var(--select-border);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active,
a:focus,
input:active,
input:focus {
  outline: none;
}

*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

input::-webkit-datetime-edit-year-field:not([aria-valuenow]),
input::-webkit-datetime-edit-month-field:not([aria-valuenow]),
input::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
  color: transparent;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

ul li {
  line-height: 2.4rem;
}

h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

/*For the stock details overview page*/
.list:nth-child(1) {
  justify-content: flex-start !important;
}

.info {
  color: var(--coral-highlight-color);
  width: 2.5rem;
}

.icons {
  width: 2rem;
}

.shrink {
  opacity: 1;
  flex-grow: 1 !important;
  animation-name: shrinkAnimation;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

@keyframes shrinkAnimation {
  from {
    opacity: 1;
    display: flex;
  }
  to {
    display: none;
    width: 0vw;
    opacity: 0;
  }
}

.grow {
  flex-grow: 2 !important;
  opacity: 0;
  animation-name: growAnimation;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

@keyframes growAnimation {
  from {
    opacity: 0;
  }

  to {
    display: flex;
    width: 100vw;
    opacity: 1;
  }
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--hover-background-color);
  border-radius: inherit;
}
