.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  max-width: 90vw;
  border-top: 1px solid var(--border-color);
  position: relative;
}

.search {
  width: 27vw;
  display: -moz-box;
  display: flex;
  justify-content: flex-start;
  -moz-box-align: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(250, 250, 253, 0.61);
  height: 100vh;
}

.search > * {
  padding: 10px 12px;
  height: 100vh;
  width: 100%;
  z-index: 99;
  background-color: red;
}

.data {
  position: absolute;
  top: 16%;
  left: 0vw;
  width: 65vw;
  padding: 20px;
}

.data ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
  list-style-type: none;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 89%;
}
